.corpo {
    padding-top: 55px;
}

.linha {
    display: flex;
    justify-content: space-around;
    padding-bottom: 110px;
    border-bottom: 1px solid gray;
}

.row {
   width: 200px;
   background: rgba(78, 68, 68, 0.164);
   box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
   border-radius: 25px;
}

.block2 p {
    font-size: 20px;
}

.col-md-2 img {
    padding-top: 48px;
}

.desc{
    font-size: 20px;
    margin-top: 35px;
}

.bcompra {
    margin-top: 8px;
}
